<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form_id" method="POST">
        <div>
            <label>Upload images</label>
        </div>
        <div>    
            <select name='category' id="ddlViewBy">
                {% for c in category %}
                    <option class="dropdown-item">{{c.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input class="file-input" id="image_id" name="images" required type="file" multiple>
        </div>
        <button type="submit">Submit</button>
    </form>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/trail.js' %}"></script>
</body>
</html>